body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* While Loading Page Spinner CSS */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* User matching box CSS */
.round-box {
  padding-bottom: 10%;
  margin: auto;
  border-radius: 10px;
}

/* Buttons for like and pass */
.button-container {
  padding-top: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container button {
  border-radius: 10px;
}
